# Python compilation
__pycache__/
*.py[cod]
*.so

# Environment & Logs
.env
logs/
*.log
*.jsonl

# Build & Dist
dist/
build/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Local data (Optional)
analytics/multiwoz_2.4_n200/
